{% extends 'base.html.twig' %}

{% block content %}
    <section id="one" class="wrapper style1 special">
        <a href="{{path('admin_users_new')}}"><i class="fa fa-car" style="font-size:48px;color:blueviolet;"></i></a>
        <a href="{{path('admin_users_list')}}"> <i class="fa fa-cloud" style="font-size:48px;color:red;"></i>
        
    </section>
    
{% endblock %}

{% block footer %}
{% endblock %}
