{% extends 'user_account/layout.html.twig' %}

{% block two %}
    <a href="#"><div id="triangle" class="col-6"></div></a>
    <a href="#"><div id="triangle" class="col-6"></div></a>
    <a href="#"><div id="triangle" class="col-6"></div></a>
    <a href="#"><div id="triangle" class="col-6"></div></a>
{% endblock %}