{% extends 'user_account/layout.html.twig' %}

{% block two %}
    <h1>{{ user.email|upper }}, What would u like to do? </h1>
    <p><a href="{{ path('editme_url', {'id':app.user.id}) }}">edit me</a></p>
{% endblock %}